.font-64 {
  font: 600 4rem/1.1 "Inter", Arial;
}

.font-xx {
  font: 600 2.5rem/1.25 "Inter", Arial;
}

.font-x {
  font: 600 1rem/1.4 "Inter", Arial;
}

.font-xs {
  font: 600 0.875rem/1.43 "Inter", Arial;
}

.font-s {
  font: 600 0.75rem/1.1 "Inter", Arial;
}

.font-20 {
  font: 600 1.25rem/1.3 "Inter", Arial;
}
