body {
  margin: 0px;
  height: 2000px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
