.initiatives-title {
  text-align: center;
  padding-top: 64px;
}

.initiative {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  padding-top: 40px;
  padding-bottom: 64px;
}

.initiative-img {
  border-radius: 15px;
}

.initiative-content h2 {
  padding-top: 24px;
  padding-bottom: 16px;
}

@media (max-width: 1250px) {
  .initiatives-title {
    font-size: 2.25rem;
    padding-top: 48px;
  }
}

@media (max-width: 780px) {
  .initiatives-title {
    font-size: 1.75rem;
    padding-top: 32px;
  }
  .initiative {
    grid-template-columns: 1fr;
  }
  .initiative-content h2 {
    padding-top: 12px;
    padding-bottom: 14px;
  }
}
